
<div style="background-color: lightpink; width: 100%; height: 20%;">

    <app-child [childName]="name"  (age)="getAgeFromChild($event)" (gender) = getGenderFromChild($event)></app-child>
    </div>
    <hr/>
    
    <b>App Component </b><br>
    Enter name
    
    <input type="text" #name2><br/>
    <button (click)="doClick(name2.value)"> change Name</button> <br/>
    <b>Entered Name :</b> {{name}}
    <br>
    <b>
        Age from Child-Component : 
    </b>
   {{outputAge}}
<br>
   <b>Gender from Child-component:</b>
   {{gender}}